# Data
data/raw/
data/processed/
data/harmonised/
*.csv
!data/sample_recipes.csv

# Embeddings and indices
*.npy
*.index
*.faiss

# Redis
dump.rdb

# Environment
env/
.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.h5
*.pt
*.bin
data/full_dataset.csv
data/embeddings.npy
data/recipes.index
data/processed_recipes.csv
data/labelled_recipes.csv
